<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myselamat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySelamat">

        <activity
            android:name=".UpdateVaccineActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterVaccineStatusActivity"
            android:exported="true" />
        <activity
            android:name=".vaccineSuccessRegisterActivity"
            android:exported="true" />
        <activity
            android:name=".covidstatusStartActivity"
            android:exported="true" />
        <activity
            android:name=".covidstatusResultActivity"
            android:exported="true" />
        <activity
            android:name=".covidstatusActivity"
            android:exported="true" />
        <activity
            android:name=".vaccineEditActivity"
            android:exported="true" />
        <activity
            android:name=".VaccineVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".VaccineQuestionActivity"
            android:exported="true" />


        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQ-1ICszlDtmB49Sn3eJH11vCX4PYzGX0"/>

        <activity
            android:name=".NearbyActivity"
            android:exported="true" />
        <activity
            android:name=".webView"
            android:exported="true" />
        <activity
            android:name=".NewsActivity"
            android:exported="true"/>
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SOP_Activity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>